body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#games {
	display: flex;
	margin: 0 0 0 0;
	/*padding: 100px 100px 100px 100px;*/
	width: 100%;
	height: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.box {
	display: block;
	background-color: black;
	color: white;
	text-align: center;
	font-style: normal;

	transition-property: background-color;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier;
	transition-delay: 0s, 0s;

	width: 46vw;
	height: 30vw;
	line-height: 30vw;
	margin-top: 4vw;
}

.box:hover {
	background-color: rgb(92, 92, 92);
}

@media screen and (max-width:1600px) {
	.box {
		width: 86vw;
		height: 56vw;
		margin-top: 10vw;
		line-height: 56vw;
	}
}

@media screen and (max-width:1080px) {
	.box {
		width: 94vw;
		height: 62vw;
		margin-top: 10vw;
		line-height: 62vw;
	}
}
